.checkmark {
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  border: 2px solid black;
}
.container input:checked ~ .checkmark {
  background-color: black;
}
.checkmark::after {
  content: '';
  display: none;
  position: absolute;
}
.container input:checked ~ .checkmark::after {
  display: block;
}
.container .checkmark::after {
  width: 5px;
  height: 10px;
  top: 5px;
  left: 10px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
}
.containerBlue {
  cursor: pointer;
  display: block;
  position: relative;
  margin-bottom: 12px;
}

.checkmarkBlue {
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  border: 2px solid blue;
}
.containerBlue input:checked ~ .checkmarkBlue {
  background-color: blue;
}
.checkmarkBlue::after {
  content: '';
  display: none;
  position: absolute;
}
.containerBlue input:checked ~ .checkmarkBlue::after {
  display: block;
}
.containerBlue .checkmarkBlue::after {
  width: 5px;
  height: 10px;
  top: 5px;
  left: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.container {
  padding-left: 35px;
  margin-bottom: 12px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
}
.container input {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
}