button {
    border-radius: 2px;
    padding: 5px 25px;
}


/* Main colors and Hover */
.button-primary {
        background-color: rgb(51, 160, 255);
        border: rgb(51, 160, 255);
}
.button-primary:hover {
        background-color: rgb(46, 144, 229);
        border: rgb(46, 144, 229);  
 }
.button-danger {
    background-color: rgb(255,72,88);
    border: rgb(255,72,88);   
}
.button-danger:hover {
    background-color: rgb(245, 56, 72);
    border: rgb(245, 56, 72);   
}
.button-success {
    background-color: rgb(10,208,10);
    border: rgb(10,208,10);
}
.button-success:hover {
    background-color: rgb(7,193,7);
    border: rgb(7,193,7);
}
.button-warning {
    background-color: rgb(255,198,0);
    border: rgb(255,198,0);
}
.button-warning:hover {
        background-color: rgb(235,182,0);
        border: rgb(235,182,0);        
}
.button-default {
    background-color: rgb(34,38,42);
    border: rgb(34,38,42);
}
.button-default:hover {
        background-color: rgb(19,22,26);
        border: rgb(19,22,26);     
}
/* Main and Hover End */


/* Button Text */
.button-whiteText {
    color: white;
}
.button-primaryText {
    color: rgb(86, 176, 255);
}
.button-dangerText {
    color: rgb(255, 74, 90);
}
.button-successText {
    color: rgb(22, 210, 22);
}
.button-warningText {
    color: rgb(255, 198, 0);
}
.button-defaultText {
    color: rgb(73, 77, 80);
}
/* button text END */

/* Border */
.button-primaryBorder {
    border: 1px solid rgb(20,147, 230);
}
.button-dangerBorder {
    border: 1px solid rgb(255,72,88);
}
.button-successBorder {
    border: 1px solid rgb(10,208,10);
}
.button-warningBorder{
    border: 1px solid rgb(255,198,0);
}
.button-defaultBorder {
    border: 1px solid rgb(34,38,42);
}
/* Border END */

/* Opaque buttons */
.button-opaqueP {
    background-color: rgb(51, 160, 255, 0.3);
    border: rgb(51, 160, 255, 0.3);
    
}
.button-opaqueD{
    background-color: rgb(255,72,88, 0.3);
    border: rgb(255,72,88,0.3);
}
.button-opaqueS{
    background-color: rgb(10,208,10,0.3);
    border: rgb(10,208,10,0.3);
}
.button-opaqueW{
    background-color: rgb(255,198,0,0.3);
    border: rgb(255,198,0,0.3);
}
.button-opaqueDf {
    background-color: rgb(34,38,42,0.3);
    border: rgb(34,38,42,0.3);
}
/* Opaque button End */

.button-addTo {
    background-image: url(../img/cart_2.png);
    background-repeat: no-repeat;
    background-position-x: 7%;
    background-position-y: 44%;
    background-size: 10%;
    background-color: rgb(51, 160, 255, 0.3);
    border: rgb(51, 160, 255, 0.3);
}
.button-favorite {
    background-image: url(../img/hearts.png);
    background-repeat: no-repeat;
    background-position-x: 7%;
    background-position-y: 44%;
    background-size: 10%;
    background-color: rgb(51, 160, 255, 0.3);
    border: rgb(51, 160, 255, 0.3);
}

.button-large {
padding: 10px 50px;
}
.button-cart {
width: 20px;
height: 20px;
padding: 1%;
background-image: url(../img/cart_2.png);
background-repeat: no-repeat;
background-position-x: center;
background-position-y: center;
background-size: 40%;
background-color: rgb(51, 160, 255, 0.3);
border: rgb(51, 160, 255, 0.3);
}
.button-heart {
    width: 20px;
    height: 20px;
    padding: 1%;
    background-image: url(../img/hearts.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 40%;
    background-color: rgb(51, 160, 255, 0.3);
    border: rgb(51, 160, 255, 0.3);
}
